/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/*верхний блок*/
.page { 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, max-content);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color, #fff);
  color: var(--main-color, #000);
  font-family: var(--main-font, 'Inter-Variable', sans-serif);
  font-variation-settings: 'wght' var(--weight-font-text, 400);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header { 
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  background-color: var(--bg-color, #fff);
  margin-block: 100px;
  margin-inline: auto;
  inline-size: clamp(375px, 16.2852rem + 30.5164vw, 700px);
  border: 2px solid var(--main-color, #000);
}

.header-title {
  font-family: var(--accent-font, 'PressStart2P-Regular', Fantasy);
  font-size: clamp(49px, 2.7104rem + 1.5023vw, 75px);
  margin-block: clamp(120px, 7.2729rem + 1.5023vw, 136px) 20px;
}

.header-subtitle {
  font-family: var(--accent-font, 'PressStart2P-Regular', Fantasy);
  font-size: clamp(14px, 0.6769rem + 0.8451vw, 23px);
  text-transform: uppercase;
}

.header__theme-menu {
  font-family: var(--accent-font, 'PressStart2P-Regular', Fantasy);
  font-size: 14px;
  margin-block: 25px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
}

.theme-menu__list {
  display: grid;
  gap: 11px;
  padding-inline-start: 20px;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -17px;
  animation: header-theme-button 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  outline: 1px solid var(--main-color, #000);
  display: block;
  scale: 0;
  transform-origin: 0;
  transition: scale 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

/*основной блок*/

.content {
  display: grid;
  place-items: center;
  gap: 50px;
  margin-inline: auto;
  inline-size: clamp(375px, 16.2852rem + 30.5164vw, 700px);
}

.content__card {
  background-color: var(--bg-color, #fff);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content,max-content);
  border: 2px solid var(--main-color, #000);
}

.content__card-title {
  font-family: var(--main-font, 'Inter-Variable', sans-serif);
  font-variation-settings: 'wght' var(--weight-font-title, 700);
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  padding: 4px 10px 5px;
  border-bottom: 2px solid var(--main-color, #000);
}

.content__card-image {
  position: relative;
  border-bottom: 2px solid var(--main-color, #000);
}

.card-image {
  position: relative;
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.filter__sepia {
  filter: sepia(100%)
}

.filter__contrast {
  filter: contrast(200%);
}

.filter__rotate {
  filter: hue-rotate(100deg);
}

.filter__brightness-blur {
  filter: blur(2px) brightness(50%);
}

.filter__saturate {
  filter: saturate(350%);
}

.filter__invert {
  filter: invert(100%);
}

.filter__opacity {
  filter: opacity(80%);
}

.card-image__label {
  position: absolute;
  mix-blend-mode: hard-light;
  inset-inline-end: clamp(13px, 0.5484rem + 1.1268vw, 25px);
  inset-block-start: 25px;
  font-family: var(--accent-font, 'PressStart2P-Regular', Fantasy);
  opacity: 0.5;
  font-size: 14px;
  line-height: 14px;
  text-shadow:
  -1px 0 var(--color-stroke-label, #fff),
  0 1px var(--color-stroke-label, #fff), 
  1px 0 var(--color-stroke-label, #fff), 
  0 -1px var(--color-stroke-label, #fff);
}

@supports(
  (text-stroke: 1px var(--color-stroke-label, #fff)) 
  or (-webkit-text-stroke: 1px var(--color-stroke-label, #fff))
  ) {
  .card-image__label {
      -webkit-text-stroke: 1px var(--color-stroke-label, #fff);
      text-stroke: 1px var(--color-stroke-label, #fff);
      text-shadow: none;
    }
  }

.card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  margin: 25px 25px;
}

.content__card-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card-text {
  line-height: 21px;
  font-size: 18px;
}

.content__card-button {
  display: flex;
  justify-content: flex-end;
}

.card__icon-button {
  background-color: var(--bg-color, #fff);
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color, #000);
  transition: border-color 0.3s ease;
}

.like-icon {
  display: block;
  inline-size: 37px;
}

.card__like-button {
  position: relative;
  inline-size: 130px;
  block-size: 38px;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color, #000);
  overflow: hidden;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
  transition: box-shadow 0.3s ease;
}

.card__like-button::after {
  content: '';
  position: absolute;
  background-color: var(--main-color, #000);
  translate: -100%;
  inset: 0;
  transition: translate 0.5s ease-in-out;
}

.card__like-button:hover::after {
  translate: 0;
  transition: translate 0.5s ease-in-out;
}

.button__text {
  font-family: var(--accent-font, 'PressStart2P-Regular', Fantasy);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 12.6px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color, #fff);
}

/*нижний блок*/

.save__button {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 18px;
  background-color: var(--bg-color, #fff);
  margin-block-end: 103px;
  border: 2px solid var(--main-color, #000);
  inline-size: clamp(306px, 18.4868rem + 2.723vw, 335px);
  max-inline-size: 335px;
}

.save__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
  transition: box-shadow 0.3s ease;
}

.save__button::after {
  content: '';
  position: absolute;
  background-color: var(--main-color, #000);
  translate: -100%;
  inset: 0;
  transition: translate 0.5s ease-in-out;
}

.save__button:hover::after {
  translate: 0;
  transition: translate 0.5s ease-in-out;
}

.save__button-svg {
  display: inline-block;
  inline-size: clamp(21px, 1.904rem + -0.6573vw, 28px);
  block-size: clamp(21px, 1.904rem + -0.6573vw, 28px);
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  color: var(--button-text-color, #fff);
}

/* dialog */

.dialog__save-window {
  position: fixed;
  inset: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: var(--accent-font, 'PressStart2P-Regular', Fantasy);
  color: var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color, #000);
  inline-size: clamp(341px, 21.0484rem + 1.1268vw, 353px);
  padding-block: 30px;
  padding-inline: clamp(30px, 2.7201rem + -0.939vw, 40px);
}

.dialog__save-window:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.save__window-block {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.save__window-svg {
  display: inline-block;
  inline-size: 39px;
  block-size: 39px;
}

.save__window-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}

.save__window-button {
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color, #000);
  block-size: 38px;
  inline-size: 100%;
  text-transform: uppercase;
}

.dialog__save-window::backdrop {
  background-color: rgba(0 0 0  / 0.75);
}